html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #202020;
    overflow: hidden;
    cursor: url("picture/love1.png"), auto !important;
}

.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    color: white;
    z-index: 2;
	font-size: 30px;
}

.header p{
	font-size: 15px;
	text-align: center;
}

.container {
    position: absolute;
    width: 200%;
    height: 200vh;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
}

.block {
    width: 500px;
    height: 600px;
    background: grey;
    margin: 1em;
    filter: grayscale(1);
    opacity: 0.4;
    transition: 1s;
}

.block:hover {
    filter: grayscale(0);
    opacity: 1;
}

.block-1 {
    background: url("picture/satu.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url("picture/dua.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url("picture/tiga.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url("picture/empat.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url("picture/lima.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-6 {
    background: url("picture/enam.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-7 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-8 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-9 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-10 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-11 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-12 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-13 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-14 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-15 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-16 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-17 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-18 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-19 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-20 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-21 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-22 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-23 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}

.block-24 {
    background: url("picture/test.png") no-repeat 50% 50%;
    background-size: cover;
}